/* Add your code in each class */
body {
}
.container {
display: flex;
flex-direction: column;
background-color: rgb(35, 7, 44);
height: 100vh;
width: 100vw;
text-align: center;
justify-content: center;
align-items: center;
}
.movie-card {
  position: relative;
  height: 30vh;
}
.movie-image {
  height: 250px;
  width: 250px;
  object-fit:cover ;
  object-position: 80% -3% ;
}
.movie-details-container {
  display: flex;
  height: 100px;
  
}
.descriptions {
position: absolute;
top: 140px;
color: white;
font-size: 0.9rem;
padding-left: 20px;
text-align: left;
z-index: 1;

}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  bottom: 59px;
  z-index: 1;
  height: 80%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 0;
  
}
